# Virtual environment
venv/

# Python cache files
__pycache__/

# Environment variables (VERY IMPORTANT)
.env

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log

# Artifacts and compiled contracts
artifacts/
